<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.awesome.groovy.demo.mapper.ScriptRuleConfigMapper">

    <resultMap id="BaseResultMap" type="com.zhang.awesome.groovy.demo.domain.ScriptRuleConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="rule" column="rule" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,rule
    </sql>
</mapper>
